*{
    margin:0;
   }
   
   body {
    background-color:LIGHTSTEELBLUE;
   }
   header {
    background-color:lightblue;
    width:100%;
    height: 100px;
    text-align: center;
   }
   .tabla1{
    margin:auto;
    margin-left:auto;
    margin-right:auto;
    width:60%;
    top:1px;
    position:relative;
    text-align:center;
     }
.tabla2{
    background-color:lightblue;
    margin:auto;
    margin-left:auto;
    margin-right:auto;
    width:60%;
    top:75px;
    position:relative;
    text-align: center;
     }
.tabla3{
    margin:auto;
    left: 1150px;
    width:25%;
    top:45px;
    position:absolute;
     }
     .tabla4{
    margin:auto;
    margin-left:auto;
    margin-right:auto;
    width:60%;
    text-align:center;
    border:3px;
    background-color:lavender;
     }
   .img1{
       position: absolute;
       width:50px;
       top:0px;
       left:0px;
  }
 .img2{
       position: absolute;
       width:60px;
       left:30px;
   }
 .img3{
       position: absolute;
       width:66px;
       left:195px;
   }
 .img4{
       position: absolute;
       width:73px;
       left:350px;
   }
 .img5{
       position: absolute;
     width:77px;
      left:550px;
}
.img6{
       position: absolute;
       width:71px;
     left:780px;
   }
.img7{
       position: absolute;
       width:350px;
    top:300px;
       right:30px;
   }
   .img8{
    position: absolute;
    width:72px;
    top:1200px;
}
.img9{
    position: absolute;
    width:70px;
    top:1200px;
    left:85px;
}
.img10{
    position: absolute;
    width:72px;
    top:1200px;
    left:170px;
}
.img11{
    position: absolute;
    width:72px;
    top:1200px;
    left:255px;
}
.img12{
    position: absolute;
    width:72px;
    top:1200px;
    left:340px;
}
.img13{
    position: absolute;
    width:600px;
    border:3px;
    height:436;
}
.img14{
    position: absolute;
    width:300px;
    top:500px;
    left:600px;
}
.img15{
    position: absolute;
    width:900px;
    top:420px;
    left:310px;
}
.formulario{
    position: absolute;
    width:300px;
    top:700px;
    left:600px;
    background-color:thistle;
}
   h1{
   font-family:Monospace;
   font-size: 43px;
   text-align:center;
   top:25px;
   }
h2{
     font-family: cursive;
    text-align: center;
}
.p2{
    font-size:18px;
    background-color:lavender;
}
   .linea1{
       Color:indianred;
   }
   .linea2{
       Color:indianred;
   }
   .linea3{
       Color:indianred;
   }
   .linea4{
       Color:indianred;
   }
   .linea5{
       Color:indianred;
   }
   
   footer {
   background-color:cadetblue;
   position: sticky;
   text-align: center;
   width:100%;
   bottom:0;
   height:220px;
   }




